# Version control
.git
.gitignore

# Node.js dependencies
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Docker files
Dockerfile
docker-compose.yml
.dockerignore

# Documentation
README.md
CHANGELOG.md
LICENSE

# Testing
coverage
.nyc_output
test

# IDE specific files
.idea
.vscode
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db
